body
{
    background: #ffaaff;
    width: 100vw;
    height: 100vh;
    margin: 0;
	padding: 0;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	overflow: hidden;
}

*:focus
{
    outline: none;
}

::-webkit-scrollbar {
  width: 0.75vw;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.375vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #aa00ff;
}
